<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tepia.bliying.gaodelibrary">



    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_gaode"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tepia.bliying.gaodelibrary.MainDemoActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="90f28635a3ca1d912d55f9184165fced" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- 继续执行用户发起的操作
        您的应用可能会提供与位置信息有关的工作流，如在驾车时使用精细导航或在跑步时跟踪道路。当用户执行这些类型的任务时，
        您的应用通常需要在被置于后台后（如当用户按设备上的主屏幕按钮或关闭设备的显示屏时）访问设备的位置信息。
        要在这种特定类型的用例中保留对设备位置信息的访问权，请启动您已在应用的清单中声明前台服务类型为 "location" 的前台服务：-->
        <service android:name="com.example.gaodelibrary.GaodeLibraryService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            />
    </application>

</manifest>